<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alamofire.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ObjectMapper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>book-pay-ride.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0576576C1DBED13600F3C709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0584A70C1DBEA18700877738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0584A7251DBEA18800877738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0584A7301DBEA18800877738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05A098A91DBEB6490047EE14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05A098B21DBEB6490047EE14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05BA82161DBEC8C4000914DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05BA821F1DBEC8C4000914DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05BA82631DBEC99F000914DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
